<!-- views/game.ejs -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/chessboard.css" rel="stylesheet" />
    <title>Hello, <%= username %></title>
  </head>
  <body>
    <div id="board" style="width: 400px"></div>
    <script src="/js/libraries/jquery.js"></script>
    <script src="/js/libraries/chessboard.js"></script>
    <script src="/js/board-controller.js"></script>
  </body>
</html>
